pipeline {
    agent any


    stages {
        stage('Git') {
            steps {
                git branch: 'develop', url: 'https://github.com/ScienceD4/TestMonitorTesting'
            }
        }
        stage('Build') {
            steps {
                bat 'dotnet build Test'
            }
        }
        stage('Test') {
            steps {
                bat 'dotnet test --filter TestCategory=Api --no-build'
                sleep 10
                bat 'dotnet test --filter TestCategory=Ui --no-build'
            }
            post{
                always{
                    allure includeProperties: false, jdk: '', results: [[path: 'Test\\bin\\Debug\\net7.0\\allure-results']]
                }
            }
        }
    }
}